doctype html
html
  head
    meta charset='UTF-8'
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title Secure Cam
    link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"
    link href="/stylesheets/main.css" rel="stylesheet"
  body
    .container-fluid
      == yield
    script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
